.list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
  width: 80px;
}

.cardAvatar {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cardName {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: #000;
}

.cardStatus {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.online {
  color: green;
}

.offline {
  color: red;
}
